- contact = StaticBlock.find_by_id 2
- if contact
  .cf
    .block.center{:style => "margin: 220px auto 0 auto; width: 420px;"}
      %h1=contact.title
      = raw contact.content


.abs
  = render :partial => "footer"