.cf
  .block.inline.w_auto{:style => "margin: 140px 0 0 25%; padding-top: 16px"}
    = image_tag "/assets/del/i1.jpg"
  .block.inline{:style => "margin: 180px 0 0 30px; width: 434px"}
    %h1 Заголовок
    %p
      Это самая лучшая возможность знакомиться с выдающимися людьми, реализовывать проекты, которые развивают наших клиентов и нас самих. Видеть, как наша работа влияет на реальные результаты. У нас нет высокой цели, но каждый день перед нами стоит новая задача в области обучения и развития конкретной компании.

    %p
      Наша работа также позволяет нам оставаться смелыми в поиске решений и сохранять чувство юмора и здравый смысл. Что для нас – немаловажно!

.cf
  .block{:style => "margin: 200px auto; width: 685px; "}
    %h1 История компании
    %p Это самая лучшая возможность знакомиться с выдающимися людьми, реализовывать проекты, которые развивают наших клиентов и нас самих. Видеть, как наша работа влияет на реальные результаты. У нас нет высокой цели, но каждый день перед нами стоит новая задача в области обучения и развития конкретной компании.
    %p Наша работа также позволяет нам оставаться смелыми в поиске решений и сохранять чувство юмора и здравый смысл. Что для нас – немаловажно!
    %p Это самая лучшая возможность знакомиться с выдающимися людьми, реализовывать проекты, которые развивают наших клиентов и нас самих. Видеть, как наша работа влияет на реальные результаты. У нас нет высокой цели, но каждый день перед нами стоит новая задача в области обучения и развития конкретной компании.
    %p Наша работа также позволяет нам оставаться смелыми в поиске решений и сохранять чувство юмора и здравый смысл. Что для нас – немаловажно!

.cf

  .block.inline{:style => "margin: 0 0 0 25%; width: 220px"}
    %h1 Клиенты
    %p Наша работа также позволяет нам оставаться смелыми в поиске решений и сохранять чувство юмора и здравый смысл. Что для нас – немаловажно

  .block.images.scroll-block.right{:style => "margin: 0 auto; right: 25%"}
    %ul.cf
      - 4.times do
        %li
          %img{:alt => "", :src => "/assets/stepbystep/1.jpg"}/
          %span Title client

.cf
  .block.inline{:style => "margin: 140px 0 0 20%; width: 350px"}
    %h1 Специалисты
    %p Dat Langefääl es us denne Kirchspeele Richroth un Rösroth jemaaht woode. Richroth is ävver äälder wie Rösroth.




  .block.inline.experts.sliders{:style => "margin: 140px 0 0 40px;"}
    %ul
      - 1.times do
        %li.slide
          %img{:alt => "", :src => "/assets/stepbystep/1.jpg"}/
          .inline
            %span Title client
            %em Title client Title client

          .more.cf
            %a.item-close{:href => "#"} ×
            .controls
              .control.prev  prev
              .control.next next
            .item-img
              %img{:alt => "", :src => "/assets/stepbystep/1.jpg"}/
            .item-info
              %h3 Oleg Pridiuk, Denmark585
              %span Technical Evangelist, Unity Technologies
              %p
                Oleg has been breaking mobiles in Unity since Unity iPhone 1.0.1 and grew up to a default goto person for everything mobile. He is using his technical skills along with an irresistible charm and charisma to advocate Eastern Europe of Unity and vice versa.




