.cf
  .block.right{:style => "width: 640px; margin: 100px 20% 0 0"}
    %h1 Направления работы
    %p
      En dä "Franzuuse-Zick" af 1808 jof et de "Mairie" (Bürjermeestereij) Richroth. Se beshtunnt un denne Spezialgemeinden Richroth un Rösroth. Em Johr 1910 woode die zweij Spezialgemeinden zo en Jemeind

  .cf
  .block.right{:style => "width: 640px; margin: 100px 20% 0 0"}
    %h1 Развитие команд
    %p
      En dä "Franzuuse-Zick" af 1808 jof et de "Mairie" (Bürjermeestereij) Richroth. Se beshtunnt un denne Spezialgemeinden Richroth un Rösroth. Em Johr 1910 woode die zweij Spezialgemeinden zo en Jemeind
    = link_to "Подробнее", "#", :class => "a-show"

  .cf
  .block.right{:style => "width: 640px; margin: 100px 20% 0 0"}
    %h1 LD-Консалтинг
    %p
      En dä "Franzuuse-Zick" af 1808 jof et de "Mairie" (Bürjermeestereij) Richroth. Se beshtunnt un denne Spezialgemeinden Richroth un Rösroth. Em Johr 1910 woode die zweij Spezialgemeinden zo en Jemeind
    = link_to "Подробнее", "#", :class => "a-show"

  .cf
  .block.right{:style => "width: 640px; margin: 100px 20% 0 0"}
    %h1 Личный рост
    %p
      En dä "Franzuuse-Zick" af 1808 jof et de "Mairie" (Bürjermeestereij) Richroth. Se beshtunnt un denne Spezialgemeinden Richroth un Rösroth. Em Johr 1910 woode die zweij Spezialgemeinden zo en Jemeind
    = link_to "Подробнее", "#", :class => "a-show"