.main
  #menu
    %li
      %a.curtain-links{:href => "#section-1"} Компания
    %li
      %a.curtain-links{:href => "#section-2"} Направления работы
    %li
      %a.curtain-links{:href => "#section-3"} Опыт
    %li
      %a.curtain-links{:href => "#section-4"} Контакты

  = link_to "/", "#", :id => "logo"
  %ol.curtains
    %li#section-1.section.cf
      - 2.times do
        .cf
          .block.right.top100
            %h1 Uran(VI)-fluorid (UF6)
            %p eistens Uranhexafluorid genannt, ist eine Verbindung aus den Elementen Uran und Fluor. Es ist ein farbloser, kristalliner Feststoff, welcher leicht flüchtig, äußerst giftig und radioaktiv ist. Es ist eine sehr aggressive Substanz, die nahezu jeden Stoff und auch jedes biologische Gewebe angreift und sehr heftig mit Wasser reagiert. Bei Normaldruck und einer Temperatur von 56,5
    %li#section-2.section
      .cf
        .block.center.top200
          %h1 История компании
          %p Dat Langefääl es us denne Kirchspeele Richroth un Rösroth jemaaht woode. Richroth is ävver äälder wie Rösroth.
          %p Zwesche 1090 un 1120 es et eezte Mol dä Name Richroth en en Oorkund jeschrivve woode. För Rösroth han se de eetzte Oorkund eesch 1281 jeschrivve. Dat Ding han se em Kluuster en Aaldeberch jefunge. Övver de Kölle-Aanheijmer-Schossee (hück B8) un dä Verbindung Hitdöper Rhinghaafe (Levverkussen) un däm Berjische Land sinn fröher Possreijter jeridde un Posskotsche jefahre. De eetzte Poss en dä Jeschich vun dä Stadt wood 1774 als "Kayserliche Reichs-Posthalterey" vun dä Häärre von Thurn und Taxis opjemaaht. En dä Blööt öm de Midde vum 19. Johrhondert wore en dä Poss övver 90 Pääds. Sick 1845 wor de Köln-Mindener-Eisenbahn dä stärker Konkerrent.
          %p En dä "Franzuuse-Zick" af 1808 jof et de "Mairie" (Bürjermeestereij) Richroth. Se beshtunnt un denne Spezialgemeinden Richroth un Rösroth. Em Johr 1910 woode die zweij Spezialgemeinden zo en Jemeind "Richroth-Rösroth" zesammehjelääch. Sick demm Johr 1936 heeß dat janze amptlich "Langefääl Rhld.". Em Johr 1939 wood dat Wappe verlinnt un em Johr 1948 dä Tittel "Stadt". De Shtadt Langefääl hät 2008 ehr 60-jöhrisch Stadterhebungs-Jubiläum

      %section.photos
        .fixed
          %h4 Here's a fixed title
          %p With a small fixed text.
          %p Oh, and you can see my last selected Instagram pictures on the left.
        .cf
          .photos-inner.right
            %ul.step-list
              - 6.times do
                %li.step
                  %img{:alt => "", :src => "/assets/stepbystep/1.jpg"}/



    %li#section-3.section
      - 2.times do
        .cf
          .block.right.top100
            %h1 Uran(VI)-fluorid (UF6)
            %p eistens Uranhexafluorid genannt, ist eine Verbindung aus den Elementen Uran und Fluor. Es ist ein farbloser, kristalliner Feststoff, welcher leicht flüchtig, äußerst giftig und radioaktiv ist. Es ist eine sehr aggressive Substanz, die nahezu jeden Stoff und auch jedes biologische Gewebe angreift und sehr heftig mit Wasser reagiert. Bei Normaldruck und einer Temperatur von 56,5

        .cf
          .photos-inner.right
            %ul.step-list
              - 2.times do
                %li.step
                  %img{:alt => "", :src => "/assets/stepbystep/1.jpg"}/
    %li#section-4.section

      .block.center.top200
        %h1 Контакты
        %p Dat Langefääl es us denne Kirchspeele Richroth un Rösroth jemaaht woode. Richroth is ävver äälder wie Rösroth.
        %p Zwesche 1090 un 1120 es et eezte Mol dä Name Richroth en en Oorkund jeschrivve woode. För Rösroth han se de eetzte Oorkund eesch 1281 jeschrivve.
        %p En dä "Franzuuse-Zick" af 1808 jof et de "Mairie" (Bürjermeestereij) Richroth. Se beshtunnt un denne Spezialgemeinden Richroth un Rösroth.










