#menu.cf
  %li.active
    %a.curtain-links{:href => "#section-1"} Компания
  %li
    %a.curtain-links{:href => "#section-2"} Направления работы
  %li
    %a.curtain-links{:href => "#section-3"} Опыт
  %li
    %a.curtain-links{:href => "#section-4"} Контакты


- social = StaticBlock.find_by_id 4
- if social
  #social
    = raw social.content

= link_to "HR-Tema", "#", :id => "logo"


%ol.curtains
  / %li#section-1.section
  /   = render :partial => "section-company"


  / %li#section-2.section
  /   = render :partial => "section-directions"


  %li#section-3.section
    = render :partial => "section-experience"

  / %li#section-4.section
  /   = render :partial => "section-сontacts"



